html,
body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
  /* cursor: not-allowed; */
}

label {
  font: inherit;
}

input {
  padding: 0.4rem 1rem;
  margin: 0px 5px 0px 5px;
  font: inherit;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid darkgrey;
}

.alert {
  padding: 1rem 0.75rem;
  display: flex;
  justify-content: space-between;
  color: #721c24;
  background-color: #f8d7da;
  border: solid 1px #f5c6cb;
  border-radius: 5px;
}

input:disabled {
  opacity: 0.4;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.players {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.disc {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: -1;
}

.disc-yellow {
  background-color: #f6db38;
  box-shadow: inset 0 0 0 3px #c0a91e;
  border: solid 3px #f6db38;
  outline: solid 1px #c0a91e;
}

.disc-red {
  background-color: #f63838;
  box-shadow: inset 0 0 0 3px #c01e1e;
  border: solid 3px #f63838;
  outline: solid 1px #c01e1e;
}

.selector {
  display: flex;
  gap: 0.5rem;
}

.selectot .disc {
  margin: 10px;
  transform: scale(2);
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  aspect-ratio: var(--cols) / var(--rows);
  background-color: #336dac;
  background: radial-gradient(circle, transparent, transparent 50%, #336dac 51%, #336dac 60.01%, #2a5782 80%);
  background-size: calc(100% / var(--cols)) calc(100% / var(--rows));
  border: 15px solid #2a5782;
  place-items: center;
  place-content: center;
  margin-top: calc(100% / var(--rows));
}

.grid .disc {
  width: 80%;
  aspect-ratio: 1/1;
  height: auto;
}

.grid .disc-yellow,
.grid .disc-red {
  animation: Drop calc(0.2s * var(--row)) both;
}

.disc-active {
  border: 8px solid rgb(16, 204, 72);
}

.columns {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
}
.column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100% + 100% / var(--rows));
}

.column:disabled {
  opacity: 0;
  pointer-events: none;
}
.column .disc {
  opacity: 0;
  transition: 0.3s;
  transform: translateY(0px);
}

.column:hover .disc {
  opacity: 1;
  transform: translateY(30px);
}

@keyframes Drop {
  from {
    transform: translateY(calc(-125% * var(--row)+1));
  }
}

.button {
  background-color: darkgray;
  font: inherit;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: #fff;
  line-height: 1;
}

.button:hover {
  background-color: rgb(68, 66, 66);
}
